<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <% if (locals.cocktail) { %>
            <%= cocktail.strDrink %>
        <% } else { %>
            Cocktail Roulette
        <% } %>
    </title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
    <% if (locals.cocktail) { %>
    <h1><%= cocktail.strDrink %></h1>
    <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>" height="256">
    <div id="ingredients">
        <h3>Ingredients</h3>
        <ul>
            <% for (let i = 0; i < 15; i++) { %>
                <% if (ingredients[i] != null) { %>
                    <li><%= ingredients[i] %></li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <p><%= cocktail.strInstructions %></p>
    <form action="/submit" method="post">
        <button name="submit">Another!</button>
    </form>
        <% } else { %>
        <h1>Failed to generate a cocktail 😞</h1>
            <form action="/submit" method="post">
                <button name="submit">Try Again</button>
            </form>
        <% } %>
</div>
<%- include("footer.ejs") %></body>
</html>